.vscode
Security/BufferOverflows/C/overflow
**/certs/
**/node_modules/
**/package-lock.json
Security/Mongo/data/*.csv
Security/Mongo/data/*.json
**/__pycache__
**/*.pyc
**/.pytest_cache
Java/**/out/
**/*.class
**/lib
**/out
**/.mvn
**/target
**/.venv
.vscode
**/coverage
**/chrome-linux64
**/*.zip
**/software