<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles1.css">
    </head>
    <body>
        <header>
            <div class="header-flex">
                <img src="images/Logo.png" width="10%" height="10%" alt="Logo" class="logo">
                <div class="header-center">
                    <h1>Simple layout</h1>
                    <p>Welcome to a simple CSS layout</p>
                </div>
            </div>
        </header>
        <div class="container">
            <aside>
                <h2>Side Menu</h2>
                <p>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                </p>
            </aside>
            <main>
                <div id="content">
                    <h2>The main event</h2>
                    <p>All your content goes in here</p>
                    <p>Using a div to control content</p>
                </div>
            </main>
        </div>
        <footer>
            <p>&copy; 2023 Simple Layout Example</p>
        </footer>
    </body>
</html>