<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="styles.css">
    <script src="external.js" defer></script>
</head>
<body>
    <navbar>
        <button class="burger" aria-label="Open menu">
            <span></span>
        </button>
        <div class="logo">
            <a href="#home">Dinner and a movie</a>
        </div>
        <div>
            <a href="#register">Resgister</a>
        </div>
        <div>
            <a href="#checkout">Checkout</a>
        </div>
        <div>
            <a href="#orderhistory">Past orders</a>
        </div>
        <div>
            <a href="#login">Log in</a>
        </div>
    </navbar>
    <h1>Menu</h1>
    <menu>
        <section class="menu-item">
            <img src="images/burger_1.png" alt="Bison Burger">
            <h2>Bison Burger</h2>
            <p></p>Packed with protein and a touch of sweetness, it's topped with your choice of cheese and classic burger fixings. Lean, humanely raised meat for those who are more health-conscious
            <span class="price">$11.54</span>
            <button>Add</button>
        </section>
        <section class="menu-item">
            <img src="images/burger_2.png" alt="Southwest Burger">
            <h2>Southwest Burger</h2>
            <div class="description">Inspired by the spices of Tex-Mex, this one will light you up! Juicy patty seasoned with chili, cumin, and coriander, topped with pepper jack cheese, chipotle mayo, and fresh pico de gallo.</div>
            <div class="price">$10.70</div>
            <button>Add</button>
        </section>
        <section class="menu-item">
            <img src="images/burger_3.png" alt="Philly Burger">
            <h2>Philly Burger</h2>
            <div clas="description">Philly cheesesteak flavor on a juicy burger! Shaved ribeye joins melty provolone, grilled onions, and peppers for a cheeseburger that's anything but ordinary.</div>
            <div class="price">$15.54</div>
            <button>Add</button>
        </section>
        <section class="menu-item">
            <img src="images/burger_1.png" alt="Bison Burger">
            <h2>Bison Burger</h2>
            <p></p>Packed with protein and a touch of sweetness, it's topped with your choice of cheese and classic burger fixings. Lean, humanely raised meat for those who are more health-conscious
            <span class="price">$11.54</span>
            <button>Add</button>
        </section>
        <section class="menu-item">
            <img src="images/burger_2.png" alt="Southwest Burger">
            <h2>Southwest Burger</h2>
            <div class="description">Inspired by the spices of Tex-Mex, this one will light you up! Juicy patty seasoned with chili, cumin, and coriander, topped with pepper jack cheese, chipotle mayo, and fresh pico de gallo.</div>
            <div class="price">$10.70</div>
            <button>Add</button>
        </section>
        <section class="menu-item">
            <img src="images/burger_3.png" alt="Philly Burger">
            <h2>Philly Burger</h2>
            <div clas="description">Philly cheesesteak flavor on a juicy burger! Shaved ribeye joins melty provolone, grilled onions, and peppers for a cheeseburger that's anything but ordinary.</div>
            <div class="price">$15.54</div>
            <button>Add</button>
        </section>
        <section class="menu-item">
            <img src="images/burger_1.png" alt="Bison Burger">
            <h2>Bison Burger</h2>
            <p></p>Packed with protein and a touch of sweetness, it's topped with your choice of cheese and classic burger fixings. Lean, humanely raised meat for those who are more health-conscious
            <span class="price">$11.54</span>
            <button>Add</button>
        </section>
        <section class="menu-item">
            <img src="images/burger_2.png" alt="Southwest Burger">
            <h2>Southwest Burger</h2>
            <div class="description">Inspired by the spices of Tex-Mex, this one will light you up! Juicy patty seasoned with chili, cumin, and coriander, topped with pepper jack cheese, chipotle mayo, and fresh pico de gallo.</div>
            <div class="price">$10.70</div>
            <button>Add</button>
        </section>
        <section class="menu-item">
            <img src="images/burger_3.png" alt="Philly Burger">
            <h2>Philly Burger</h2>
            <div clas="description">Philly cheesesteak flavor on a juicy burger! Shaved ribeye joins melty provolone, grilled onions, and peppers for a cheeseburger that's anything but ordinary.</div>
            <div class="price">$15.54</div>
            <button>Add</button>
        </section>
    </menu>
</body>
</html>